DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DEV_GUILD_ID=
DATABASE_URL=file:./dev.db
PORT=3000
ENABLED_MODULES=
OWNER_IDS=
NODE_ENV=development
GITHUB_WEBHOOK_SECRET=
JIRA_WEBHOOK_SECRET=
JIRA_BASE_URL=
JIRA_EMAIL=
JIRA_API_TOKEN=
